{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="col-sm-10">
        <h3 class=" my-5">About Page</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus eos architecto vitae ratione illo consequatur, adipisci officiis consequuntur rerum doloremque, numquam sit harum, earum sequi quo ullam temporibus aliquid quidem. Alias impedit repellendus nemo molestias provident, nulla, vitae iure itaque illum quaerat, at excepturi nisi. Maiores nemo itaque reprehenderit sequi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sunt earum quos accusantium magnam id numquam nulla. Expedita labore enim dolore rem optio magni vitae sit amet quibusdam magnam odit modi blanditiis obcaecati fugiat quidem beatae, eum voluptate illum! In accusamus nemo provident possimus aperiam, et fuga animi sed saepe quam, nostrum laudantium nihil excepturi veritatis totam, soluta facilis rerum.</p>
    </div>
{% endblock content %}
    