{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="col-sm">
        <h3 class="text-white">Contact Page</h3>
        <div class="px-2 mb-2 bg-light rounded-3 border">
            <div class="container-fluid">
                <section class="mb-2">
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
                    <p class="text-center w-responsive mx-auto mb-5">
                    <div class="row">
                        <div class="col-md  mb-5">
                            <form id="contact-form"  method="POST">
                                <div class="row py-2">
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="">Name</label>
                                            <input type="text" id="name" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="email" class="">Email</label>
                                            <input type="text" id="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="subject" class="">Subject</label>
                                            <input type="text" id="subject" name="subject" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <label for="message">Your message</label>
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center  py-2">
                                <a class="btn btn-primary" >Send</a>
                            </div>
                            <div class="status"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}